.topMenu {
  width: 50%;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.topMenu li { 
  padding-top: 40px;
  margin: 0 5%;
  font-size: 15px;
  font-weight: bold;
}

.topMenu li a {
  text-decoration: none;
  color: black;
}

.topMenu li a svg{
  position: relative;
  top: -35px;
}

@media (max-width: 500px) {
  .topMenu li { 
    font-size: 5px;
  }
}