.topMenu {
  width: 500px;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.topMenu li { 
  margin: 0 5%;
  padding-top: 70px;
  font-size: 30px;
  text-overflow: clip;
}

.topMenu li a {
  text-decoration: none;
  color: black;
}

@media (max-width: 500px) {
  .topMenu li { 
    font-size: 5px;
  }
}