.topNav {
  width: 200px;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.topNav li { 
  margin: 0 5%;
}

.topNav li a { 
  text-decoration: none;
  color: black;
  font-size: 15px;
}
